<p id="notice"><%= notice %></p>

<h1>Listing Teams</h1>

<table>
  <thead>
    <tr>
      <th>Zacetek iskanja</th>
      <th>Team name</th>
      <th>Server</th>
      <th>Top</th>
      <th>Jungle</th>
      <th>Mid</th>
      <th>Adc</th>
      <th>Support</th>
      <th>IÜŔemo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.Zacetek_iskanja %></td>
        <td><%= team.Team_name %></td>
        <td><%= team.Server %></td>
        <td><%= team.Top %></td>
        <td><%= team.Jungle %></td>
        <td><%= team.Mid %></td>
        <td><%= team.Adc %></td>
        <td><%= team.Support %></td>
        <td><%= team.IÜŔemo %></td>
        <td><%= link_to 'Show', team %></td>
        <td><%= link_to 'Edit', edit_team_path(team) %></td>
        <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team', new_team_path %>
