<p id="notice"><%= notice %></p>

<h1>Players</h1>
<div class="media">
  <div class="media-body">

    <table class="table table-hover">
      <thead>
        <tr>
          <th id="table_title">Zacetek iskanja</th>
          <th id="table_title">Nickname</th>
          <th id="table_title">Server</th>
          <th id="table_title">Main role</th>
          <th id="table_title">Secondary role</th>
          <th id="table_title">Ime priimek</th>
          <th id="table_title">Favourite champion</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @players.each do |player| %>
          <tr>
            <td><%= player.zacetek_iskanja %></td>
            <td><%= player.nickname %></td>
            <td><%= player.server %></td>
            <td><%= player.main_role %></td>
            <td><%= player.secondary_role %></td>
            <td><%= player.ime_priimek %></td>
            <td><%= player.favourite_champion %></td>
            <td><%= link_to 'Show', player, class: 'btn btn-mini' %></td>
            <td><%= link_to 'Edit', edit_player_path(player), class: 'btn btn-mini btn-success' %></td>
            <td><%= link_to 'Destroy', player, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>

<%= link_to 'New Player', new_player_path %>